version: '3.8'

services:
  api:
    build: .
    ports:
      - "8000:8000"
    env_file:
      - .env
      - .env.local
    volumes:
      - ./models:/app/models
      - ./backend:/app/backend
    environment:
      - PYTHONPATH=/app
      - AWS_DEFAULT_REGION=us-east-2
    command: sh -c "python backend/utils/download_models.py && uvicorn backend.main:app --host 0.0.0.0 --port 8000 --reload"
    restart: unless-stopped